

.logo {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-left: 2vh;
    font-size: 4vh;
}

.link{
    text-decoration: none;
    color: white;
    padding: 14px;
    background-color: black;
}

.link:hover {
    background-color: white;
    color: black;
    border-radius: 25px;
}