@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

#nav {
    background-color: black;
    font-weight: bolder;
    height: 8vh;
}

#navItems {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.link {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 14px;
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}


.link:hover {
    background-color: white;
    color: black;
    border-radius: 5%;
}