.home {
    background-image: url("../img/home.avif");
    background-size: cover;
    background-position: center;
    color: white;
}



.homeContainer div div {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}