.home {
    color: white;
    background: #262626;
}



.homeContainer div div {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContainer button:hover {
    color: white;
    background-color: #262626;
    font-weight: bold;
}