.section {
    height: 40vh;
    margin-top: 10vh;
}

.right {
    margin-top: 5vh;
    height: 30vh;
}


.right h1 {
    text-align: center;
    font-size: 6.5vh;
}

.right p {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1b1b1b;
    height: 7vh;
    width: 10vw;
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    letter-spacing: 1px;
    border-radius: 5%;

}

.button:hover {
    color: #1b1b1b;
    background-color: white;
    transform: scale(1.1);
}