.profileCard {
    border: 2px solid black;

}

.profileCard h4 {
    color: rgb(46, 110, 227);

}

.profileCard div {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.footerHeading {
    color: rgb(46, 110, 227);

}